<?xml version="1.0" ?>

<plugin>

	<extension-point id="service" name="Proof Service" schema="schema/${extensionId}.exsd"/>
	<extension-point id="preferences" name="Proof Preferences" schema="schema/${extensionPreferencesId}.exsd"/>
		
    <extension id="ProofBasedExplanation"
               point="org.protege.editor.owl.explanation">
        <name value="Proofs"/>
        <class value="${pluginId}.ProofBasedExplanationService"/>
    </extension>

    <extension id="ProofBasedInconsistencyExplanation"
               point="org.protege.editor.owl.inconsistentOntologyExplanation">
        <name value="Proof Based Inconsistent Ontology Explanation"/>
        <class value="${pluginId}.ProofBasedInconsistencyExplanationPlugin"/>
    </extension>

    <extension id="ProofBasedExplanationPreferences"
               point="org.protege.editor.core.application.explanationpreferencespanel">
        <label value="Proofs"/>
        <class value="${pluginId}.preferences.ProofPrefPanel"/>
    </extension>

    <extension id="ProofGeneralPreferences"
               point="org.liveontologies.protege.explanation.proof.preferences">
        <label value="General"/>
        <class value="${pluginId}.preferences.ProofBasedExplanationPreferencesGeneralPanel"/>
    </extension>

</plugin>
